{
  "env": {
    "node": false,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "2017"
  },
  "overrides": [
    {
      "files": "./**/*.spec.js",
      "env": {
        "mocha": true
      },
      "globals": {
        "expect": "readonly"
      },
      "rules": {
        "no-unused-expressions": 0
      }
    }
  ]
}
